.gitignore
*.apk
.akconfig
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.akconfig
.DS_Store
/build
/captures
.externalNativeBuild
/test
/gradle/wrapper
iot_homemate/build/
/*/build/
